---
---
<nav class="navbar navbar-expand-lg navbar-dark bg-transparent absolute-top py-3">
    <div class="container">
        <div class="d-flex w-100 align-items-center justify-content-between">

            <!-- Left Links -->
            <div class="nav-side-links d-flex align-items-center flex-grow-1 justify-content-start">
                <a class="nav-link mx-3" href="/">home</a>
                <a class="nav-link mx-3" href="/portfolio">Portfolio</a>
            </div>

            <!-- Centered Brand -->
            <div class="navbar-brand-container text-center px-4">
                <a class="navbar-brand brand-font m-0" href="/">anke.se.fotos</a>
            </div>

            <!-- Right Links -->
            <div class="nav-side-links d-flex align-items-center flex-grow-1 justify-content-end">
                <a class="nav-link mx-3" href="/faq">FAQ</a>
                <a class="nav-link mx-3" href="/about">About me</a>
                <a class="nav-link mx-3" href="/contact">Contact</a>
            </div>

        </div>
    </div>
</nav>
